<!DOCTYPE html>                
<html>                                    
    <body >                                        
        <div>   
            <p>I'm contacting you because you have a candidate interested in an opportunity with your company & willing to talk to you.</p>     
            <p>He is a {{work_experience}} years experienced_backend engineer{{education}} {{from_}} {{in_}}.</p> 
            <p>You can just accept the request to take it forward.</p> 
            <div> 
                
                <div style="float : left; padding-right : 10%; padding-left : 10%;">
                    <button style="background-color: #555353; margin: 10px 0;cursor: pointer; opacity: 0.9;"><a style="color: white; text-decoration: none;" href="http://localhost:5005/emailAccept">Accept</a></button>
                </div>

                <div >
                    <button style="background-color: #555353; margin: 10px 0;cursor: pointer; opacity: 0.9;"><a style="color: white; text-decoration: none;" href="http://localhost:5005/emailDecline">Decline</a></button>
                </div>
                
            </div>
        
        </div> 
    <body>   
</html>



         				 