<!DOCTYPE html>                
<html>  
    <head>
      

      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <link rel="stylesheet" href="../static/css/font-awesome.min.css">
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
      <link rel="stylesheet" href="../static/css/loginRecruter.css">



    </head>
    <body style="margin: 2%;"> 
        
        <div id="Maincontainer">
            
            <h4><b>Welcome</b>&ensp;{{name}}</h4>
            <div class="dashboard">
                <div id="card1">
                    <h5>Total candidates you have expresses the interest with company</h5>
                    <h3 style="text-align: center;">55</h3>
                
                </div>
                <div id="card1">
                    <h5>Candidates application accepted</h5>
                    <h3 style="text-align: center;">65</h3>
                </div>
                <div id="card1">  
                    <h5>Company application declined</h5>
                    <h3 style="text-align: center;">20</h3>
                </div>
            </div>
            <hr>


            <div class="messageBox">
                    
                
                    


              <div style="display: flex; width : 100%"  >
                <!-- Users box-->
                <div class="col-4 px-0">
                  <div class="bg-white">
            
                    <div class="bg-gray px-4 py-2 bg-light">
                      <p class="h5 mb-0 py-1">Recent</p>
                    </div>
            
                    <div style=" height : 285px;" class="messages-box">

                      <div class="list-group rounded-0">

                        
                        

                        <a href="#USER2" class="list-group-item list-group-item-action list-group-item-light rounded-0" onclick="user2()">
                          <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                            <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0">Candidate 1</h6><small class="small font-weight-bold">9 Nov</small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                          </div>
                        </a>

                        <a href="#USER3" class="list-group-item list-group-item-action list-group-item-light rounded-0" onclick="user3()">
                          <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                            <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0">Candidate 2</h6><small class="small font-weight-bold">9 Nov</small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                          </div>
                        </a>

                        <a href="#USER4" class="list-group-item list-group-item-action list-group-item-light rounded-0" onclick="user4()">
                          <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                            <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0">Candidate 3</h6><small class="small font-weight-bold">9 Nov</small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                          <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                            <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0">Candidate 4</h6><small class="small font-weight-bold">9 Nov</small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                          <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                            <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0">Candidate 5</h6><small class="small font-weight-bold">9 Nov</small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                          </div>
                        </a>

                        <a href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0">
                          <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                            <div class="media-body ml-4">
                              <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0">Candidate 6</h6><small class="small font-weight-bold">9 Nov</small>
                              </div>
                              <p class="font-italic text-muted mb-0 text-small">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                            </div>
                          </div>
                        </a>
            
            
            
                      </div>
                    </div>
                  </div>
                </div>
                


                <!-- Chat Box-->
                <div style=" height : 280px; display: none;" id="USER2" class="col-4 px-0" >
                  <div  class="px-4 py-5 chat-box bg-white">
                    <ul id="ul2"></ul>
                  </div>        
                  <!-- Typing area -->
                  <div  class="bg-light">
                    <div class="input-group">
                        <div class="msj-rta macro">                        
                            <div class="text text-r" style="background:whitesmoke !important">
                                <input id="mytext2" class="mytext22" placeholder="Type a message" />
                                
                            </div> 
                        </div>
                        <div style="padding:10px;">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </div>                
                      
                    </div>
                  </div>
            
                </div>



                <!-- Chat Box-->
                <div id="USER3" class="col-4 px-0" style="display: none;">
                  <div class="px-4 py-5 chat-box bg-white">
                    <ul id="ul3"></ul>
                  </div>        
                  <!-- Typing area -->
                  <div  class="bg-light">
                    <div class="input-group">
                        <div class="msj-rta macro">                        
                            <div class="text text-r" style="background:whitesmoke !important">
                                <input id="mytext3" class="mytext33" placeholder="Type a message"/>
                            </div> 
                        </div>
                        <div style="padding:10px;">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </div>                
                      


                    </div>
                  </div>
            
                </div>

                <!-- Chat Box-->
                <div id="USER4" class="col-4 px-0" style="display: none;">
                  <div class="px-4 py-5 chat-box bg-white">
                    <ul id="ul4"></ul>
                  </div>        
                  <!-- Typing area -->
                  <div  class="bg-light">
                    <div class="input-group">
                        <div class="msj-rta macro">                        
                            <div class="text text-r" style="background:whitesmoke !important">
                                <input id="mytext4" class="mytext44" placeholder="Type a message"/>
                            </div> 
                        </div>
                        <div style="padding:10px;">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </div>                
                      


                    </div>
                  </div>
            
                </div>


                <div id="piechart" style="width: 35%;"></div>  
              </div>
              
            </div>
            
        </div>


                                          
         
    <body>   

        <script>
            var me = {};
me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

var you = {};
you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'PM' : 'AM';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = hours + ':' + minutes + ' ' + ampm;
    return strTime;
}            

//-- No use time. It is a javaScript effect.
function insertChat2(who, text, time){
    if (time === undefined){
        time = 0;
    }
    var control = "";
    var date = formatAMPM(new Date());
    
    var msg = "Recruiter 1 : " + text
    const Http = new XMLHttpRequest();
    const url='http://localhost:5015/slack/';
    Http.open("GET", url+msg);
    Http.send();
        
    Http.onreadystatechange = (e) => {
    console.log(Http.responseText)
    }
    
    if (who == "me"){
        control = '<li style="width:100%" >' +
                        '<div class="msj macro">' +
                        '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                            '<div class="text text-l">' +
                                '<p>'+ text +'</p>' +
                                '<p><small>'+date+'</small></p>' +
                            '</div>' +
                        '</div>' +
                    '</li>';                    
    }else{
        control = '<li style="width:100%;">' +
                        '<div class="msj-rta macro">' +
                            '<div class="text text-r">' +
                                '<p >'+text+'</p>' +
                                '<p><small>'+date+'</small></p>' +
                            '</div>' +
                        '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                  '</li>';
    }
    
    setTimeout(
        function(){                        
            $("#ul2").append(control).scrollTop($("#ul2").prop('scrollHeight'));
        }, time);
    
}

function resetChat(){
    $("#ul2").empty();
}

$("#mytext2").on("keydown", function(e){
    if (e.which == 13){
        var text = $(this).val();
        if (text !== ""){
            insertChat2("me", text);              
            $(this).val('');
        }
    }
    
});

$('body > div > div > div:nth-child(2) > span').click(function(){
    $("#mytext2").trigger({type: 'keydown', which: 13, keyCode: 13});
})


//-- Clear Chat
resetChat();

//-- Print Messages
//insertChat2("me", "Hello Tom...2", 0);  
//insertChat2("you", "Hello...2", 0);   
//insertChat2("me", "test", 0);



//-- NOTE: No use time on insertChat.
        </script>





        

        <script>
          var me = {};
me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

var you = {};
you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

function formatAMPM(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return strTime;
}            

//-- No use time. It is a javaScript effect.
function insertChat3(who, text, time){
  if (time === undefined){
      time = 0;
  }
  var control = "";
  var date = formatAMPM(new Date());

  const Http = new XMLHttpRequest();
  const url='http://localhost:5015/slack/';
  Http.open("GET", url+text);
  Http.send();
  
  if (who == "me"){
      control = '<li style="width:100%">' +
                      '<div class="msj macro">' +
                      '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                          '<div class="text text-l">' +
                              '<p>'+ text +'</p>' +
                              '<p><small>'+date+'</small></p>' +
                          '</div>' +
                      '</div>' +
                  '</li>';                    
  }else{
      control = '<li style="width:100%;">' +
                      '<div class="msj-rta macro">' +
                          '<div class="text text-r">' +
                              '<p>'+text+'</p>' +
                              '<p><small>'+date+'</small></p>' +
                          '</div>' +
                      '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                '</li>';
  }
  setTimeout(
      function(){                        
          $("#ul3").append(control).scrollTop($("#ul3").prop('scrollHeight'));
      }, time);
  
}

function resetChat(){
  $("#ul3").empty();
}

$("#mytext3").on("keydown", function(e){
  if (e.which == 13){
      var text = $(this).val();
      if (text !== ""){
          insertChat3("me", text);              
          $(this).val('');
      }
  }
});

$('body > div > div > div:nth-child(2) > span').click(function(){
  $("#mytext3").trigger({type: 'keydown', which: 13, keyCode: 13});
})

//-- Clear Chat
resetChat();

//-- Print Messages
//insertChat3("me", "Hello Tom...3", 0);  
//insertChat3("you", "Hello...3", 0);  



//-- NOTE: No use time on insertChat.
      </script>








        <script>
          var me = {};
me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

var you = {};
you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

function formatAMPM(date) {
  var hours = date.getHours();
  var minutes = date.getMinutes();
  var ampm = hours >= 12 ? 'PM' : 'AM';
  hours = hours % 12;
  hours = hours ? hours : 12; // the hour '0' should be '12'
  minutes = minutes < 10 ? '0'+minutes : minutes;
  var strTime = hours + ':' + minutes + ' ' + ampm;
  return strTime;
}            

//-- No use time. It is a javaScript effect.
function insertChat4(who, text, time){
  if (time === undefined){
      time = 0;
  }
  var control = "";
  var date = formatAMPM(new Date());
  
  if (who == "me"){
      control = '<li style="width:100%">' +
                      '<div class="msj macro">' +
                      '<div class="avatar"><img class="img-circle" style="width:100%;" src="'+ me.avatar +'" /></div>' +
                          '<div class="text text-l">' +
                              '<p>'+ text +'</p>' +
                              '<p><small>'+date+'</small></p>' +
                          '</div>' +
                      '</div>' +
                  '</li>';                    
  }else{
      control = '<li style="width:100%;">' +
                      '<div class="msj-rta macro">' +
                          '<div class="text text-r">' +
                              '<p>'+text+'</p>' +
                              '<p><small>'+date+'</small></p>' +
                          '</div>' +
                      '<div class="avatar" style="padding:0px 0px 0px 10px !important"><img class="img-circle" style="width:100%;" src="'+you.avatar+'" /></div>' +                                
                '</li>';
  }
  setTimeout(
      function(){                        
          $("#ul4").append(control).scrollTop($("#ul4").prop('scrollHeight'));
      }, time);
  
}

function resetChat(){
  $("#ul4").empty();
}

$("#mytext4").on("keydown", function(e){
  if (e.which == 13){
      var text = $(this).val();
      if (text !== ""){
          insertChat4("me", text);              
          $(this).val('');
      }
  }
});

$('body > div > div > div:nth-child(2) > span').click(function(){
  $("#mytext4").trigger({type: 'keydown', which: 13, keyCode: 13});
})

//-- Clear Chat
resetChat();

//-- Print Messages
insertChat4("me", "Hello Tom...4", 0);  
insertChat4("you", "Hello...4", 0);  



//-- NOTE: No use time on insertChat.
        </script>



        <script>
          function user2() {
            document.getElementById('USER2').style.display = "block";
            document.getElementById('USER3').style.display = "none";
            document.getElementById('USER4').style.display = "none";
          }

          function user3() {
            document.getElementById('USER3').style.display = "block";
            document.getElementById('USER2').style.display = "none";
            document.getElementById('USER4').style.display = "none";
          }

          function user4() {
            document.getElementById('USER4').style.display = "block";
            document.getElementById('USER2').style.display = "none";
            document.getElementById('USER3').style.display = "none";
          }
        </script>



        
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            
            // Draw the chart and set the chart values
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
              ['Task', 'Hours per Day'],
              ['Companies you have expresses the interest', 27],
              ['Companies accepted your invite', 30],
              ['Companies which might interest you', 55]
            ]);
            
              // Optional; add a title and set the width and height of the chart
              var options = {'title':'My Average'};
            
              // Display the chart inside the <div> element with id="piechart"
              var chart = new google.visualization.PieChart(document.getElementById('piechart'));
              chart.draw(data, options);
            }
        </script>














        <script>
          $(document).ready(function(){
            $('#action_menu_btn').click(function(){
              $('.action_menu').toggle();
            });
              });
        </script>




</html>