<!DOCTYPE html>                
<html>                                   
    <body >                                        
        <div>
            <p>Hello {{name}},</p>  
            <p>Firstly, we would like to take this opportunity to thank you for showing your interest with {{company}}.</p> 
            <p>Unfortunately, they don't have an open role matching your profile & interest.</p>
            <p>However they will be in touch with you for an existing role in future.</p>
            <br>
            <br>
            <p>With Regards</p>
            <p>Our company name</p>
        </div> 
    <body>   
</html>