<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h2>verify your mail with us</h2>
        <div style="float : left; padding-right : 10%; padding-left : 10%;">
            <button style="background-color: #555353; margin: 10px 0;cursor: pointer; opacity: 0.9;"><a style="color: white; text-decoration: none;" href="http://localhost:5012/emailConfirm/{{hashEmail}}">Accept</a></button>
        </div>
        <div >
            <button style="background-color: #555353; margin: 10px 0;cursor: pointer; opacity: 0.9;"><a style="color: white; text-decoration: none;" href="http://localhost:5000/emailDecline">Decline</a></button>
        </div>
    </body>
</html>