<!DOCTYPE html>                
<html>                                   
    <body >                                        
        <div>
            <p>Hello {{name}},</p>  
            <p>Firstly, we would like to take this opportunity to thank you for showing your interest with {{company}}. </p>
            <p>We are delighted to announce that your candidature is accepted for {{company}} & they will reach you out shortly. </p>
            <p>All the best!</p>
            <br>
            <br>
            <p>With Regards</p>
            <p>Our company name</p>
        </div> 
    <body>   
</html>